@import "base.sass"


.content
  position: relative
  .sub-title
    @include text-16px-sb
    padding-bottom: 8px
  .title
    @include fontSize(54px)
    font-style: normal
    font-weight: 600
    letter-spacing: -1px
    padding-bottom: 8px
  .sub-title-light
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 30px
    padding-bottom: 28px
  .link-text
    font-size: 18px
    font-style: normal
    font-weight: 600
    line-height: 32px
    letter-spacing: -0.4px
  .text__link
    display: flex
    justify-content: start
    border-bottom: 1px solid $gray-dark
    width: 121px
  .img__btn
    width: 28px
    height: 28px
  .buttons-container-content
    display: none
  .img-first
    width: 100%
    height: auto
    object-fit: cover
  .button-right:hover,
  .button-left:hover
    animation-name: button-circle-colors-content
    animation-duration: 0.5s
    animation-fill-mode: forwards
  .button-right:active,
  .button-left:active
    animation-name: button-circle-colors-active
    animation-duration: 1.25s
    animation-fill-mode: forwards
  @include device(desktop)
    background: $gray-light-bg
    .content-wrapper
      display: grid
      grid-template-columns: 1fr 1fr
      align-items: center
    .text-group
      display: flex
      flex-direction: column
      margin-left: 80px
      margin-right: 135px
    .buttons-container-content
      display: flex
      justify-content: space-between
      align-items: center
      height: 46px
      position: absolute
      margin: 0
      padding-left: 52px
      padding-right: 52px
      width: 100%
      bottom: 50%
      button
         @include buttons-l-r
    .button-right
      align-content: end
    .img-first
      width: 100%
      height: auto
      object-fit: cover
  @include device(tablet)
    .content-wrapper
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 32px
    .text-group
      display: flex
      flex-direction: column
      margin-left: 40px
      margin-right: 65px
    .buttons-container-content
      display: flex
      justify-content: space-between
      align-items: center
      height: 46px
      position: absolute
      margin: 0
      padding-left: 52px
      padding-right: 52px
      width: 100%
      bottom: 60%
      button
        @include buttons-l-r
    .button-right
      align-content: end
    .img-first
      margin-bottom: 32px
  @include device(mobile)
    .content-wrapper
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 24px
    .text-group
      display: flex
      flex-direction: column
      margin-left: 16px
      margin-right: 16px
    .img-first
      margin-bottom: 24px